#开发环境配置

# 数据源
spring:
  datasource:
    url: jdbc:mysql://127.0.0.1:3306/sdtest?useUnicode=true&characterEncoding=utf-8&useSSL=false&serverTimezone=UTC
    username: root
    password: MySQL_1116!
    driver-class-name: com.mysql.cj.jdbc.Driver
    dbcp2:
      min-idle: 5                                # 数据库连接池的最小维持连接数
      initial-size: 5                            # 初始化连接数
      max-total: 5                               # 最大连接数
      max-wait-millis: 150                       # 等待连接获取的最大超时时间

# mybatis配置
mybatis:
  mapper-locations: classpath:com/bjtu/sdtest/mapper/*.xml    # mapper映射文件位置
  type-aliases-package: com.bjtu.sdtest.pojo    # 实体类所在的位置
  configuration:
    log-impl: org.apache.ibatis.logging.stdout.StdOutImpl   #用于控制台打印sql语句
    map-underscore-to-camel-case: true

#日志配置
#logging:
#  level:
#    root: info
#    bjtu.pt.easycontracts: debug
#  file:
#    name: log/blog-dev.log

## MULTIPART (MultipartProperties)
# Enable multipart uploads
spring.servlet.multipart.enabled: true
  # Threshold after which files are written to disk.
spring.servlet.multipart.file-size-threshold: 2KB
  # Max file size.
spring.servlet.multipart.max-file-size: 200MB
  # Max Request Size
spring.servlet.multipart.max-request-size: 215MB
  ## File Storage Properties
  # All files uploaded through the REST API will be stored in this directory
file.upload-dir: D:\Application\Code\softwaretest\software-defect-testing\SD-test\src\main\resources\csv

#file.upload-dir配置成自己的存储文件的文件所在的绝对路径
